<a href="https://colab.research.google.com/github/ShumailaAhmed/AI-Workshop/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from PIL import Image
import numpy as np
#import matplotlib.pyplot as plt

In [ ]:
img = Image.open("/content/assignment.jpg")
img.load()
data = np.asarray( img, dtype="int32" )
smaller_data = data[::2, ::2]
im = Image.fromarray(np.uint8(smaller_data))
im.save("your_file.jpg")
#plt.imshow(smaller_data)
#plt.imshow(data)

# Installing Pandas
**if you have installed anaconda, pandas is already part of it.
for other python installation use "pip install pandas" to install latest version**

# Section 5.1 Pandas Series
![image.png]()

In [ ]:
# must need to import pandas
import pandas as pd
obj = pd.Series([4, 7, -5, 3])
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

# pandas Series has two things in one object
# 1 Values
#  2 Index

In [ ]:
sales = pd.Series([100, 200, 100, 400])
print(sales.values)
print(sales.index)

[100 200 100 400]
RangeIndex(start=0, stop=4, step=1)

In [ ]:
sales = pd.Series([100, 200, 100, 400], 
          index = ['Jan', 'Feb', 'Mar','Apr'])
print(sales)
print(sales.values)
print(sales.index)

Jan    100
Feb    200
Mar    100
Apr    400
dtype: int64
[100 200 100 400]
Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')

In [ ]:
sales = pd.Series([100, 200, 100, 400],
       index = ['Jan', 'Feb', 'Mar','Apr'],
       name="4 month sales") 
print(sales)

Jan    100
Feb    200
Mar    100
Apr    400
Name: 4 month sales, dtype: int64

# create a pandas series to store a canteen data to hold values of how many sandwithes are sold each days (one week)

In [ ]:
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], 
index = ['mon', 'tue', 'wed', 'thr','fri', 'sat', 'sun'])
print(sw)

mon    20
tue    30
wed    20
thr    25
fri    30
sat    40
sun     0
dtype: int64

In [ ]:
print(sw[1])
print(sw["tue"])
print(sw["sun"])

30
30
0

In [ ]:
print(sw[  [3,5] ])
print(sw[ [ "tue", "thr"] ])

thr    50
sat    80
dtype: int64
tue    60
thr    50
dtype: int64

In [ ]:
sw * 2
sw = sw * 2
print(sw)

mon    40
tue    60
wed    40
thr    50
fri    60
sat    80
sun     0
dtype: int64

In [ ]:
sw = sw /2
print(sw)

mon    20.0
tue    30.0
wed    20.0
thr    25.0
fri    30.0
sat    40.0
sun     0.0
dtype: float64

In [ ]:
'mon' in sw

True

In [ ]:
#taking input from numpy arrays
import numpy as np
ar = np.array([3,2,4,5,6])
ind = np.array( ['a', 'b', 'c', 'd', 'e'])

obj2 = pd.Series(ar, index = ind)
print(obj2)

a    3
b    2
c    4
d    5
e    6
dtype: int64

In [ ]:
#creating data from a dict
sdata = {"Sindh": 35000, "Panjab": 4500, "KPK": 3000, "Balochistan": 2000}
tax_by_state = pd.Series(sdata)
print(tax_by_state)
print(tax_by_state.index)

Sindh          35000
Panjab          4500
KPK             3000
Balochistan     2000
dtype: int64
Index(['Sindh', 'Panjab', 'KPK', 'Balochistan'], dtype='object')

In [ ]:
#change arrangement by defining keys as index
sdata = {"Sindh": 35000, "Panjab": 45000, "KPK": 30000, "Balochistan": 20000}
tax_by_state = pd.Series(sdata, index = ["Panjab", "Sindh", "KPK", "Balochistan", "GB"])
print(tax_by_state)
print(pd.isnull(tax_by_state))

Panjab         45000.0
Sindh          35000.0
KPK            30000.0
Balochistan    20000.0
GB                 NaN
dtype: float64
Panjab         False
Sindh          False
KPK            False
Balochistan    False
GB              True
dtype: bool

In [ ]:

#name the index
tax_by_state.name= "state tax paying capicity"
tax_by_state.index.name = "states name"
print(tax_by_state)
print(tax_by_state.index)

states name
Panjab         45000.0
Sindh          35000.0
KPK            30000.0
Balochistan    20000.0
GB                 NaN
Name: state tax paying capicity, dtype: float64
Index(['Panjab', 'Sindh', 'KPK', 'Balochistan', 'GB'], dtype='object', name='states name')

In [ ]:
# NaN values mean, values does not exist in pandas series
pd.isnull(tax_by_state) 
tax_by_state.isnull()

states name
Panjab         False
Sindh          False
KPK            False
Balochistan    False
GB              True
Name: state tax paying capicity, dtype: bool

In [ ]:
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], 
               index = ['mon', 'tue', 'wed', 'thr','fri', 'sat', 'sun'])
print(sw)
sw.index = ["m", "t", "w", "t", "f", "s", "s"]
print(sw)

mon    20
tue    30
wed    20
thr    25
fri    30
sat    40
sun     0
dtype: int64
m    20
t    30
w    20
t    25
f    30
s    40
s     0
dtype: int64

# Pandas DataFrame overview

**A DataFrame represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type (numeric, string,
boolean, etc.). The DataFrame has both a row and column index**

![image.png]()

# DataFrame
![image.png]()

In [ ]:
apples = pd.Series([3,2,0,1])
oranges = pd.Series([3,4,7,8])

#["Shop1","Shop2","Shop3","Shop4"]
#print(apples, oranges)
data = {"apples": apples, "oranges": oranges}
fruits_df = pd.DataFrame(data) #each key becomes a series
print(fruits_df)

   apples  oranges
0       3        3
1       2        4
2       0        7
3       1        8

# keep in mind, Indexes

In [ ]:
import pandas as pd

apples = pd.Series([3,2,0,1], ["shop1","shop2","shop3","shop4"] )
oranges = pd.Series([3,2,0,1], index = ["mon", "tue", "wed", "thr"])

#print(apples, oranges)
data = {"apples": apples, "oranges": oranges}
fruits_df = pd.DataFrame(data)
print(fruits_df)
# index not matched

       apples  oranges
mon       NaN      3.0
shop1     3.0      NaN
shop2     2.0      NaN
shop3     0.0      NaN
shop4     1.0      NaN
thr       NaN      1.0
tue       NaN      2.0
wed       NaN      0.0

In [ ]:
apples = pd.Series([3,2,0,1] , index = ["mon", "tue", "wed", "thr"] )
oranges = pd.Series([3,2,0,1], index = ["mon", "tue", "wed", "thr"])

#print(apples,"\n", oranges)
data = {"apples": apples, "oranges": oranges}
fruits_df = pd.DataFrame(data)
print(fruits_df)

     apples  oranges
mon       3        3
tue       2        2
wed       0        0
thr       1        1

In [ ]:
import pandas as pd

state = ['KPK', 'KPK', 'KPK', 'Sindh', 'Sindh', 'Sindh']
data = {'state': state ,
        'year' : [2000, 2001, 2002, 2001, 2002, 2003],
        'pop'  : [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
state_pop_df = pd.DataFrame(data 
                     , index = ['1st', '2nd', '3rd', 
                                '4th', '5th','6th'] ) #we can pass index
print(state_pop_df)

     state  year  pop
1st    KPK  2000  1.5
2nd    KPK  2001  1.7
3rd    KPK  2002  3.6
4th  Sindh  2001  2.4
5th  Sindh  2002  2.9
6th  Sindh  2003  3.2

In [ ]:
#state_pop_df.head()
state_pop_df =pd.DataFrame(data, columns=['year', 'state', 'pop']) #change arrangement 
print(state_pop_df)
x =10
x

   year  state  pop
0  2000    KPK  1.5
1  2001    KPK  1.7
2  2002    KPK  3.6
3  2001  Sindh  2.4
4  2002  Sindh  2.9
5  2003  Sindh  3.2

10

In [ ]:
frame2 = pd.DataFrame(data, 
                      columns=['year', 'state', 'pop', 'debt'], 
index=['one', 'two', 'three', 'four','five', 'six'])
frame2.head()

       year  state  pop debt
one    2000    KPK  1.5  NaN
two    2001    KPK  1.7  NaN
three  2002    KPK  3.6  NaN
four   2001  Sindh  2.4  NaN
five   2002  Sindh  2.9  NaN

In [ ]:
print(frame2.columns)
print( frame2.index )

Index(['year', 'state', 'pop', 'debt'], dtype='object')
Index(['one', 'two', 'three', 'four', 'five', 'six'], dtype='object')

# A column in a DataFrame can be retrieved as a Series either by dict-like notation or by attribute:

In [ ]:
#print(data)
#data['state']
# this is dictinary like notation to access or extract
# dataframe column data
frame2["state"]

one        KPK
two        KPK
three      KPK
four     Sindh
five     Sindh
six      Sindh
Name: state, dtype: object

In [ ]:
# there frame2 is another method , attribute style of accessing
# dataframe data.
frame2.state

one        KPK
two        KPK
three      KPK
four     Sindh
five     Sindh
six      Sindh
Name: state, dtype: object

In [ ]:
print(frame2.loc['two'] ) # retrive using location function
state_pop_df.head()
frame2.head()

year     2001
state    Ohio
pop       1.7
debt     -1.2
Name: two, dtype: object

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7

**Columns can be modified by assignment. For example, the empty 'debt' column
could be assigned a scalar value or an array of values:**

In [ ]:
frame2['debt'] = 16.5
frame2.head()

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5

In [ ]:
# important cell for codes review

state = ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada']

data = {'state': state ,
        'year' : [2000, 2001, 2002, 2001, 2002, 2003],
        'pop'  : [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

#fill column values using numpy
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
        index=['one', 'two', 'three', 'four','five', 'six'])

ln = len(frame2) # finding now of rows in dataframe
print(frame2)
rng = np.arange(ln)
print(rng)
frame2['debt'] = rng
print(frame2)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
[0 1 2 3 4 5]
       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
six    2003  Nevada  3.2     5

# point to remember , inserting new values, needs to be match in length of dataFrame (number of elements)

In [ ]:
#changing column value using series
val = pd.Series([-1.2, -1.5, -1.7, -1.2, -1.5, -1.7, 2.2],
            index=['one', 'two', 'three', 'four', 'five',
                   'six', 'seven'])
frame2['debt'] = val
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  -1.2
two    2001    Ohio  1.7  -1.5
three  2002    Ohio  3.6  -1.7
four   2001  Nevada  2.4  -1.2
five   2002  Nevada  2.9  -1.5
six    2003  Nevada  3.2  -1.7

In [ ]:
#changing selected values
val = pd.Series([-1.2, -1.5, -1.7, 2.6], index=['two', 'four', 'five', 'six'])
frame2['debt'] = val
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   2.6

In [ ]:
# column name changing using reindex method
states = pd.DataFrame(np.arange(9).reshape((3, 3) ),
index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'])
print(states)
states_name = ['Texas', 'Utah', 'California','Ohio']

# can we use ffill parameter in column reindex mode ?
states =states.reindex(columns=states_name)
print(states)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8
   Texas  Utah  California  Ohio
a      1   NaN           2     0
c      4   NaN           5     3
d      7   NaN           8     6

# Deleting data (row or column from dataframe)

In [ ]:


data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])

print(data_df, "\n")


#You can drop values from the columns by passing axis=1 
#or axis='columns' :
data_df = data_df.drop('Ohio', axis=0) #returns a new df
#data_df.drop('two', axis=1, inplace = True)
print(data_df)

# if i want to remove a row for example 'Colorado', 
# how can we do that

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

# Indexing, Selection, and Filtering

In [ ]:
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])

print(data_df, "\n")
df2 = data_df[ ["two", "three"] ]
print(df2)
print( data_df[  data_df["three"] > 5  ] )

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          two  three
Ohio        1      2
Colorado    5      6
Utah        9     10
New York   13     14
          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

# Selection with loc and iloc

In [ ]:
import numpy as np
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])

print(data_df, "\n")
# in the loc method specify row label first 
# then specify column names
# remember! mutiple column names require array notation
#print( data_df.loc[['Colorado','Ohio'], ['two',  'three'] ] )
#print("\n")
print( data_df.iloc[2:, [3, 0, 1] ] ) # using number instead of labels
#print( data_df.iloc[:])
#print ( data_df.iloc[ :3 , :3 ] )
#print( data_df.iloc[:, :3])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          two  three
Colorado    5      6
Ohio        1      2


          four  one  two
Utah        11    8    9
New York    15   12   13
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three
Ohio        0    1      2
Colorado    4    5      6
Utah        8    9     10
          one  two  three
Ohio        0    1      2
Colorado    4    5      6
Utah        8    9     10
New York   12   13     14